<div class="row">
  <div class="col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" routerLink="home" routerLinkActive="selected">
        Home
      </li>
      <li
        class="list-group-item"
        routerLink="users"
        routerLinkActive="selected"
      >
        Users
      </li>
      <li
        class="list-group-item"
        routerLink="user/:id"
        routerLinkActive="selected"
      >
        User Details
      </li>
      <li
        class="list-group-item"
        routerLink="company"
        routerLinkActive="selected"
      >
        Company
      </li>
      <li class="list-group-item" routerLink="../public" routerLinkActive="selected">
        Public Area
      </li>
    </ul>
  </div>
  <div class="col-8"><router-outlet></router-outlet></div>
</div>
